<div *ngIf="tasks.length !== 0; else NoData"  class="container border rounded py-3 mt-3">
	<!-- <app-list-todos [tasks]="tasks"></app-list-todos> -->
<!--! *ngIf is a Direactory. it act like a attribute and we can provide JS expressions as its value.  -->
<!--TODO: <div *ngIf="tasks.length !== 0" > <div *ngIf="tasks.length !== 0; then ng-template name" > -->
<!--TODO:	 <div *ngIf="tasks.length !== 0; then ng-template name; else ng-template name" > <div *ngIf="tasks.length !== 0; else ng-template name" > -->
	<div *ngIf="tasks.length !== 0;"  >
    <ul class="wish-list">
        <!--! *ngFor is a Direactory. it act like a attribute and we can provide JS expressions as its value. -->
        <li *ngFor="let item of tasks; index as idx">
            <div class="form-check">
                <label for="checkbox"> 
                    <!--! The [checked] is a JS property of checkbox -->
                    <input 
                        (click)="toggleItemStatus($event, item)"
                        [checked]="item.isComplete" 
                        [attr.date-index]="idx" 
                        type="checkbox" 
                        class="checkbox" 
                        id="checkbox"
                    > 
                </label>
                {{ item.wishText }}
            </div>
        </li>	
    </ul>
</div>
<!--! ng-template is refering from the else part of the if condition that we writter above.  -->
<!--! ng-template is a direactive. It is not like ngIf or ngFor. -->
<!--! It is a place order for contends. We have to call it inorder to render the condents inside a ng-template  -->
</div>
<ng-template #NoData>
	<div class="container middle d-flex justify-content-center">
			<span class="display-6 fw-light">The TODO list is Empty.</span>
	</div>
</ng-template>